ul,
a,
header,
footer,
p {
  font-family: "Lora", serif;
}

input,
textarea,
.contact-info,
.contact-info-two,
h2,
h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  top: 0;
  margin: 0;
  padding: 0;
}

/* text */
h2 {
  color: rgb(147, 1, 50);
  margin-bottom: 0px;
}

h3 {
  color: rgb(180, 52, 94);
  margin-bottom: 8px;
  margin-top: 6px;
}

main {
  margin: 20px;
}

.square {
  width: 500px;
  text-align: justify;
  margin-top: 3px;
  margin-bottom: 10px;
}

.end-paragraph {
  margin-bottom: 15px;
}

/* top of page */
ul {
  list-style: none;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 5px;
  width: 100px;
  margin: 0;
}

a {
  color: white;
}

header {
  background-color: rgb(180, 52, 94);
  top: 0;
}

#logo {
  color: white;
  font-size: 30pt;
  font-weight: 600;
  letter-spacing: 2px;
  padding-left: 20px;
  padding-top: 20px;
  margin: 0;
}

/* bottom of page */
footer {
  background-color: rgb(180, 52, 94);
  color: white;
  width: 100%;
  padding: 5px 5px 5px 20px;
  bottom: 0;
  position: fixed;
}

/* contact form */
form,
.contact-info,
.contact-info-two {
  text-align: center;
}

form p {
  margin: 0;
}

input,
textarea {
  color: rgb(118, 118, 118);
  border-style: solid;
  border-color: rgb(177, 177, 177);
  padding: 5px 5px 5px 10px;
  margin: 5px 2px 5px 0px;
  font-size: 11pt;
}

input {
  width: 158px;
}

textarea {
  width: 340px;
  height: 100px;
}

.longer {
  width: 340px;
}

.contact-info {
  color: rgb(177, 19, 71);
  margin-top: 5px;
}

.contact-info-two {
  color: rgb(147, 1, 50);
  font-weight: bold;
  font-size: 20pt;
  margin-top: 20px;
  margin-bottom: 0;
}
