ul,
a,
footer,
p {
  font-family: "Lora", serif;
}

input,
textarea,
.contact-info,
.contact-info-two,
h2,
h3,
#logo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* text */
h2 {
  color: rgb(0, 75, 96);
  margin-bottom: 0;
}

h3 {
  color: rgb(5, 119, 150);
  margin-bottom: 0.5rem;
  margin-top: 0.7rem;
}

main {
  margin: 1.2rem;
}

.square {
  width: 100%;
  text-align: justify;
  margin-top: 3px;
  margin-bottom: 10px;
}

.end-paragraph {
  margin-bottom: 15px;
}

.container-about {
  display: grid;
  grid-template-areas: "side text .";
  justify-content: center;
}

.text {
  grid-area: text;
  justify-self: center;
  width: 50vw;
}

@media screen and (min-width: 1200px) {
  .text {
    width: 40vw;
  }
}

@media screen and (max-width: 600px) {
  .text {
    width: 70vw;
  }
}

/* top of page */
ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 5px 0 10px 20px;
  margin: 0;
}

ul a {
  color: white;
  text-decoration: none;
}

header {
  background-color: rgb(0, 75, 96);
  width: 100%;
}

.glow:hover {
  animation-name: glowing;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.glow:active {
  text-decoration-line: underline;
}

@keyframes glowing {
  from {
    text-shadow: rgb(255, 255, 255) 0.2rem 0 0.6rem;
  }
  to {
    text-shadow: none;
  }
}

#logo {
  color: white;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding-left: 20px;
  padding-top: 20px;
  margin: 0;
}

@media screen and (max-width: 380px) {
  #logo {
    font-size: 90%;
  }
}

/* bottom of page */
footer {
  background-color: rgb(0, 75, 96);
  color: white;
  padding: 5px 5px 5px 20px;
}

/* contact form */
.container-contact {
  display: grid;
  grid-template-areas:
    ". question ."
    ". answer ."
    ". contact .";
  justify-content: center;
}

form {
  grid-area: contact;
  justify-self: center;
  width: 100%;
}

form p {
  display: flex;
  flex-direction: column;
  margin: 0;
}

input,
textarea {
  color: rgb(0, 0, 0);
  border-style: solid;
  border-color: rgb(177, 177, 177);
  padding: 5px 5px 5px 10px;
  margin: 5px auto 5px auto;
  font-size: 0.9rem;
  width: 90%;
}

textarea {
  height: 7rem;
}

#click {
  width: 50%;
  color: rgb(106, 106, 106);
}

.contact-info {
  color: rgb(0, 75, 96);
  font-weight: bold;
  font-size: 1.7rem;
  margin-top: 20px;
  margin-bottom: 0;
  grid-area: question;
  justify-self: center;
}

.contact-info-two {
  color: rgb(5, 119, 150);
  margin-top: 5px;
  grid-area: answer;
  justify-self: center;
}

@media screen and (max-width: 400px) {
  .contact-info {
    font-size: 1.5rem;
  }

  .contact-info-two {
    font-size: 0.9rem;
  }
}

/* projects */
.container {
  display: grid;
  grid-template-areas:
    "img img img"
    "img img img";
  gap: 1rem;
}

figure {
  grid-area: img;
  margin: 1rem;
}

figcaption {
  color: rgb(0, 75, 96);
  margin: 0.7rem;
  font-size: 1rem;
}

section a {
  background-color: rgba(5, 119, 150, 0.147);
  text-decoration: none;
  font-weight: 600;
  border-radius: 0.25rem;
  animation-name: pop;
  animation-duration: 500ms;
  animation-timing-function: ease;
}

.ani:hover {
  transform: scale(1.02);
  background-color: rgba(5, 119, 150, 0.25);
}

.project-img {
  width: 100%;
}

@keyframes pop {
  0% {
    transform: scale(0.75);
    opacity: 50%;
  }
  80% {
    opacity: 100%;
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 950px) {
  .container {
    display: grid;
    grid-template-areas:
      "img img"
      "img img"
      "img img";
    gap: 1rem;
  }
}

@media screen and (max-width: 550px) {
  .container {
    display: grid;
    grid-template-areas:
      "img"
      "img"
      "img"
      "img"
      "img"
      "img";
    gap: 1rem;
  }
}

/* project details */
.container-detailed {
  display: grid;
  grid-template-areas:
    "section section aside"
    "section section aside"
    "img img aside";
}

.section {
  grid-area: section;
}

.aside {
  grid-area: aside;
}

.right {
  grid-area: img;
}

aside p {
  text-align: justify;
  margin-top: 0.3rem;
  padding-right: 10px;
}

aside h2 {
  margin-top: 0;
}

aside {
  margin-left: 1rem;
}

.detailed-img,
.detailed-img-two {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .container-detailed {
    display: grid;
    grid-template-areas:
      "section img aside"
      "section img aside"
      "section img aside";
  }

  .right {
    grid-area: img;
  }

  .detailed-img {
    width: 100%;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .detailed-img-two {
    width: 87.7%;
    padding-left: 0.7rem;
    margin-bottom: 0.5rem;
  }

  aside {
    margin-left: 0;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .container-detailed {
    display: grid;
    grid-template-areas:
      "aside"
      "section"
      "img";
  }
}
